.product-item {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    margin: 15px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
}

.product-item:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.product-img {
    border-radius: 8px;
    max-width: 130px;
    max-height: 130px;
}

.product-description {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-price {
    font-weight: bold;
    color: #28a745;
    margin-bottom: 10px;
}

.product-description p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
}

.btn-detail {
    margin-top: auto; /* Pushes button to the bottom of the container */
}

  
  /* Search and Filter */
  #searchInput, #categoryFilter {
    background-color: #ffffff;
    border: 1px solid #ced4da;
    color: #495057;
  }
  
  /* Main Content */
  body {
    background-color: #e9ecef;
    color: #343a40;
  }
  